/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	padding: 20px 50px;

	@media (max-width: 767px) {
		padding: 15px;
		text-align: center;
	}
}
