/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	color: #e0e0d1;
	font-weight: 700;
	font-size: 50px;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}
