/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;

	.header {
		position: relative;
		z-index: 5;
	}

	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 1920px;
		z-index: 1;
	}

	.app {
		position: relative;
		z-index: 5;
	}

	@media (max-width: 1023px) {
		.video {
			min-width: 2300px;
		}
	}
}
